@inject IMenuItemService MenuItemService 

@if (MenuItemService.MenuItems == null || MenuItemService.MenuItems.Count == 0)
{
    <span>Loading Menu Items...</span>
}
else
{
    <ul class="list-unstyled">
        @foreach (var menuItem in MenuItemService.MenuItems)
        {
            <li class="media my-3">
                <div class="media-img-wrapper mr-2">
                    <a href="#">
                        <img class="media-img" src="@menuItem.ImageUrl" alt="@menuItem.Title" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4 class="mb-0">@menuItem.Title</h4>
                    </a>
                    <p>@menuItem.Description</p>
                    <h5 class="price">S$@menuItem.Price</h5>
                </div>
            </li>
        }
    </ul>
}
 
@code {

    protected override async Task OnInitializedAsync()
    {
        await MenuItemService.GetMenuItems();
    }
}
